.center{
    margin: auto;
    width: 90%;
    border: solid 2px #000000;
    text-align: center;
    margin-top: 40px;
}
.font_size{
    text-align: center;
    font-size: 40px;
    padding-top: 20px;
}
table {
    border-collapse: collapse;
}

table td,
table  {
    border: 1px solid #5aff07;
    padding: 8px;
}

.title {
    font-size: 20px;
    color: #000000;
}
