body {
    font-family: Arial;
    font-size: 16px;
    /* background-color: #fff; */
    color: #212529;
    text-align: left;
    margin: 0px;
}

a {
    background-color: transparent;
    text-decoration: none;
}

img {
    vertical-align: middle;
}

.hidden {
    display: none;
}

.header .container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    max-width: 1300px;
}

.header {
    display: block;
    padding: 10px 0px 10px 0px;
    background: #fff;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 1000;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    top: 0px;
}

.row {
    /* display: flex; */
    /* flex-wrap: wrap; */
    flex: 0 0 100%;
    max-width: 100%;
    /* padding-left: 15px;
    padding-right: 15px; */
}

.text-uppercase {
    text-transform: uppercase !important;
}

.main_nav {
    display: inline;
    text-align: center;
}

.main_nav > li {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    padding: 0;
}

.logo_nav {
    line-height: inherit;
    margin-right: 1rem;
    padding-bottom: 0.3125rem;
    padding-top: 0.3125rem;
    white-space: nowrap;
}

.main_nav > li.top_level_link > a {
    box-sizing: border-box;
    color: #444;
    font-size: 16px;
    font-weight: 550;
    position: relative;
    text-transform: uppercase;
    padding: 20px 10px;
}

.menu_item {
    float: right;
    margin-top: 15px;
}

.menu_item > a {
    /* font-family: Roboto; */
    color: #444;
    font-size: 15px;
    font-weight: 400;
    padding: 5px 10px;
    text-transform: inherit;
}

.menu_item > a > img {
    vertical-align: middle;
}

.back_to_top {
    position: fixed;
    z-index: 100;
    cursor: pointer;
    right: 15px;
    bottom: 45px;
}

.banner {
    margin-top: 80px;
    /* height: 3000px; */
    width: 100%;
    display: block;
    /* position: relative; */
}

.banner .slider_banner {
    opacity: 1;
    overflow: hidden;
    position: relative;
}

.banner .slider_banner .slide_link {
    height: 100%;
}

.banner .slider_banner .slide_link .slide_img {
    width: 100%;
    height: auto;
}

.post-office-tracking {
    position: absolute;
    width: 100%;
    z-index: 99;
    margin-top: -30px;
}

.container-form-tracking {
    background: #66ccff;
    border-radius: 12px;
    padding: 25px 60px;
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
}

.container-form-tracking .row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.container-form-tracking .row .postage-tracking {
    flex: 0 0 80%;
    max-width: 80%;
}

.postage-tracking .form-title {
    color: #004b8e;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
}

.postage-tracking .form-tracking {
    position: relative;
    width: 80%;
    margin-top: 10px;
}

.form-tracking .input-tracking {
    background: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 20px;
    color: #333;
    font-weight: 400;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    margin-top: 10px;
    padding: 0 15px;
    width: 100%;
}

.form-tracking .button-tracking {
    background: #004b8e;
    border: none;
    border-radius: 30px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    height: 25px;
    line-height: 16px;
    padding: 2px 15px;
    position: absolute;
    right: 15px;
    top: 19px;
}

.other-services {
    margin-top: 0px;
    flex: 0 0 20%;
    max-width: 20%;
}

.item-service {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.item-service li {
    display: inline-block;
    list-style: none;
    position: relative;
    text-align: center;
    width: 49%;
}

.item-service li:nth-child(1):after {
    background: #004b8e;
    content: "";
    display: block;
    height: 30px;
    position: absolute;
    right: 0;
    top: 5px;
    width: 2px;
}

.item-service img {
    height: 50px;
    object-fit: cover;
}

.impressive-figures {
    margin-top: 130px;
    background-image: url(/img/bg-impressive-figures.png);
    background-position: 50%;
    background-size: cover;
    padding: 50px 0;
}

.impressive-figures .container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

.impressive-figures .container .row {
    display: flex;
    flex-wrap: wrap;
    /* align-items: center;
    justify-items: center; */
    /* margin-left: -15px;
    margin-right: -15px; */
}

.impressive-figures .container .row .impressive-figures-col {
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
}

.impressive-figures .container .row .mt-50 {
    margin-top: 50px;
}

.impressive-figures-col img {
    margin-top: -30px;
    width: 54px;
}

.impressive-figures-col .number-left {
    color: #004b8e;
    font-size: 48px;
    font-weight: 500;
    line-height: 56px;
}

.col-center .number-left {
    color: #004b8e;
    font-size: 64px;
    line-height: 75px;
}

.impressive-figures-col .__content-col {
    margin-left: 60px;
    color: #004b8e;
    font-size: 24px;
    font-weight: 400;
}

.impressive-figures-col .title {
    color: #004b8e;
    font-size: 24px;
    line-height: 28px;
    font-weight: 550;
    margin-left: 60px;
}

.weather {
    margin-top: 20px;
    color: #fff;
    width: 100%;
}

.weather .container-fluid {
    margin-left: auto;
    margin-right: auto;
    /* padding-left: 15px;
    padding-right: 15px; */
    width: 100%;
}

.weather .container-fluid .row {
    display: flex;
    flex-wrap: wrap;
}

.weather-col1 {
    padding-left: 193px;
    background: #000;
    background-color: #f5f5f5;
    color: #004b8e;
    flex: 0 0 25%;
    max-width: 10%;
    padding-right: 15px;
    position: relative;
}

.weather-col1 .cret-weather {
    font-size: 18px;
    padding-bottom: 23px;
    padding-top: 23px;
    position: relative;
    padding: 20px 0;
    align-items: center;
}

.weather-col2 {
    padding-left: 30px;
    background-color: #66ccff;
    align-items: center;
    display: flex;
    position: relative;
    width: 74%;
}

.weather-col2 .temp {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    margin-right: 39px;
    position: relative;
}

.weather-col2 .temp span {
    font-size: 24px;
}

.weather-col2 .temp span::after {
    background: #fff;
    content: "";
    display: block;
    height: 50px;
    position: absolute;
    right: -20px;
    top: -5px;
    width: 1px;
}

/* /////////////////////////// */
.general-footer {
    padding: 30px 0 0;
    border-top: 1px solid #ddd;
}

.general-footer .main-footer {
    margin: 0px 50px;
    display: flex;
}

.general-footer .main-footer .footer-info {
    flex: 1.25;
    padding-left: 60px;
    padding-right: 60px;
}

.footer-info .logo-ft {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    padding: 0px 60px;
}

.logo-ft > a {
    flex: 1;
}

.main-footer .footer-info div,
ul {
    font-size: 16px;
}

.footer-info .logo-ft .footer-logo-image {
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 50px;
    margin: auto;
}

.main-footer .footer-info .list-social {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0px 40px;
    margin-bottom: 1rem;
}

.footer-info .list-social .icon-ft {
    font-size: 30px;
}

.general-footer .main-footer .footer-about {
    flex: 3;
    padding: 0px 90px;
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
}

.footer-about .about-ft-item .title-ft {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #221f20;
    margin-bottom: 20px;
}

.about-ft-item ul {
    list-style: none;
    padding: 0px;
}

.about-ft-item ul li {
    padding: 0px;
}

.about-ft-item ul li a {
    font-size: 16px;
    line-height: 24px;
    color: #57585a;
    margin-bottom: 16px;
    display: block;
    text-decoration: none;
}

#google_translate_element {
    text-align: right;
}

.slick-prev {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    border: none;
    top: 200px;
    left: 20px;
    background-color: rgba(245, 222, 179, 0);
    color: aliceblue;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    z-index: 1;
}

.slick-prev:hover {
    background-color: #35353591;
}

.slick-next {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    border: none;
    top: 200px;
    right: 20px;
    background-color: rgba(245, 222, 179, 0);
    color: aliceblue;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
}

.slick-next:hover {
    background-color: #35353591;
}

.leader_page {
    margin-right: 3px;
}
